# Ignore everything
*

# Allow directories (so nested files can be tracked)
!*/

# Allow these file types
!*.lisp
!*.png
!*.tex

# Allow .gitignore itself
!.gitignore

# Allow Nix flake
!flake.nix
!flake.lock
